<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('theme/assets/ico/favicon.ico') }}">
        
        <title>{% block title %}Blog{% endblock %}</title>
        
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('theme/assets/css/bootstrap.css') }}" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="{{ asset('theme/assets/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('theme/assets/css/font-awesome.min.css') }}" rel="stylesheet">
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <script src="{{ asset('theme/assets/js/modernizr.js') }}"></script>
    </head>
    
    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">EBulan - Symfony3</a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Нийтлэл</a></li>
                        <li><a href="about.html">Ангилал</a></li>
                        <li><a href="https://ebulan.com">EBulan</a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div id="blue">
            <div class="container">
                <div class="row">
                    <h3>Нийтлэл</h3>
                </div>
            </div>
        </div>
        
        <div class="container mtb">
            <div class="row">
                <div class="col-lg-8">
                    {% block body %}{% endblock %}
                </div>
                
                <div class="col-lg-4">
                    <h4>Ангилал</h4>
                    <div class="hline"></div>
                    <p><a href="#"><i class="fa fa-angle-right"></i> Wordpress</a> <span class="badge badge-theme pull-right">9</span></p>
                    <p><a href="#"><i class="fa fa-angle-right"></i> Photoshop</a> <span class="badge badge-theme pull-right">3</span></p>
                    <p><a href="#"><i class="fa fa-angle-right"></i> Web Design</a> <span class="badge badge-theme pull-right">11</span></p>
                    <p><a href="#"><i class="fa fa-angle-right"></i> Development</a> <span class="badge badge-theme pull-right">5</span></p>
                    <p><a href="#"><i class="fa fa-angle-right"></i> Tips & Tricks</a> <span class="badge badge-theme pull-right">7</span></p>
                    <p><a href="#"><i class="fa fa-angle-right"></i> Code Snippets</a> <span class="badge badge-theme pull-right">12</span></p>
                    <div class="spacing"></div>
                    
                    <h4>Шинэ нийтлэл</h4>
                    <div class="hline"></div>
                    <ul class="popular-posts">
                        <li>
                            <a href="#">
                                <img src="assets/img/thumb01.jpg" alt="Popular Post">
                            </a>
                            <p>
                                <a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit</a>
                            </p>
                            <em>Posted on 02/21/14</em>
                        </li>
                    </ul>
                    <div class="spacing"></div>
                </div>
            </div>
        </div>
        
        {% include 'BlogBundle:Default:_footer.html.twig' %}
    </body>
</html>